.row.centered
  = form_for @eating, html: { class: "ui form" } do |f|
    .field
      = text_field_tag 'eating[food][]', @eating.food.join(','), autofocus: true, placeholder: 'Еда'
    .field
      = f.text_field :created_at, value: @eating.created_at
    = f.submit "Сохранить", class: "ui basic button green"
    = link_to "Назад", root_path, class: "ui basic button grey"
    = link_to "Удалить", eating_path(@eating), method: :delete, class: "ui basic button red"
