.ui.row.centered
  .ui.divided.grid.centered
    .ui.feed
      - @eatings.group_by(&:day).each do |day, eatings|
        .event
          .label.ui.basic class="#{card_color(eatings)}"
            .ui.header.small
              = day
            .ui.sub.header
              = l(eatings[0].created_at, format: "%A")

          .content
            .summary
              .ui.feed
                - eatings.each do |eating|
                  .event.dimmable
                    .ui.dimmer
                      .content
                        .center
                          = link_to edit_eating_path(eating), class: 'ui icon' do
                            i.icon.edit.big.black.popup data-content='Редактировать'
                          = link_to eating_path(eating), method: :delete, class: 'ui icon' do
                            i.icon.remove.big.black.popup data-content='Удалить'
                    .content
                      .summary
                        .date>
                          = l(eating.created_at, format: :time)
                        - eating.food.each do |food|
                          .ui.label.basic= food

        .ui.divider &nbsp;
