.ui.row.centered
  = form_for @eating, html: { class: "ui form" } do |f|
    .field
      = text_field_tag 'eating[food][]', @eating.food, autofocus: true, placeholder: 'Что съел?'
    .centered
      = f.submit "Сохранить", class: "ui basic button green"
      = link_to "Назад", root_path, class: "ui basic button gray"
