.ui.row.centered
  .segment
    p
      | Пользоваться можно либо через веб-версию (вы уже здесь), либо с помощью <a href="#{ENV['TELEGRAM_BOT_LINK']}">бота в Telegram</a>.
    p
      | Если съели несколько блюд за раз – их можно перечислить через запятую.


.ui.row.centered
  .ui.header.medium Обратная связь
.ui.row.centered

  form.ui.form accept-charset="UTF-8" action="#{ENV['FORMKEEP_URL']}" method="POST"
    input type="hidden" name="utf8" value="✓"
    .ui.field
      input type="text" name="name" placeholder="Имя"
    .ui.field
      textarea cols="50" type="textarea" name="message" placeholder="Что можно улучшить?"
    button.ui.button.basic type="submit" Отправить
