.row.centered
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'ui form' }) do |f|
    .field
      = f.email_field :email, autofocus: true, placeholder: true
    .field
      = f.password_field :password, autocomplete: "off", placeholder: "Пароль"
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Войти", class: 'ui gray basic button'
      = link_to 'Регистрация', ENV['TELEGRAM_BOT_LINK']
