/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "semantic-ui";
@import "font-awesome-sprockets";
@import "font-awesome";

footer, h2, body {
  font-family: 'Open Sans', sans-serif !important;
}

.fi-arrow-right, .fi-arrow-left {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.ui.dimmer {
  background-color: white;
}

.label .header {
  margin: 0;
}

.sub.header {
  margin: 0;
  color: gray;
  font-weight: normal !important;
}

.extra {
  display: none;
}

.meta {
  display: none;
}

.card:hover .extra,
.card:hover .meta {
  display: block;
}

.event .label {
  width: 8.5em !important;
}

.event:hover .date .data {
  display: none;
}

