doctype html
html
  head
    title
      | Eatontime
    link[href="https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic" rel="stylesheet" type="text/css"]
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  body
    .ui.grid.container
      .ui.row.centered

      .row.centered.four.column
        .ui.secondary.pointing.menu
          = link_to 'Мама, я поел', root_path, class: "item icon popup #{'active' if !user_signed_in? || current_page?(controller: 'eatings', action: 'index')}", data: { content: 'Главная' }
          - if user_signed_in?
            = link_to new_eating_path, class: "item  icon popup #{'active' if user_signed_in? && current_page?(controller: 'eatings', action: 'new')}", data: { content: 'Покушал сегодня?' } do
              i.icon.comment.plus
            .right.menu
              = link_to about_path, class: "item icon popup #{'active' if current_page?(controller: 'pages', action: 'about')}",
                data: { content: 'Что происходит?' } do
                  i.icon.help
              = link_to destroy_user_session_path, method: :delete, class: "item icon popup", data: { content: 'Выход' } do
                i.icon.power

      = yield

      .ui.row.centered
        = link_to root_path do
          = image_tag("cat.jpg", width: 300, height: 169)
      .ui.row.centered

    script
      |  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', '<ruby code="= ENV["GA_TRACKNG_CODE"]"></ruby>', 'auto'); ga('send', 'pageview');
